li{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    width: 100px;
    align-items: center;
    justify-items: center;
}
.strike{
    text-decoration: line-through;
}
.list_status{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.one{
    /* padding: 20px; */
    text-align: center;
}
.item_list{
    /* padding: 20px; */
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.main_container{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}