li{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    width: 100px;
    align-items: center;
    justify-items: center;
}
.strike{
    text-decoration: line-through;
}
.list_status{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}